{% extends "Main/base.html" %}

{% block title %}Cambiar Contraseña{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="card shadow p-4">
        <h3 class="text-center text-primary mb-4">Cambiar Contraseña</h3>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="d-flex justify-content-center mt-3 gap-3">
                <button class="btn btn-success px-4" type="submit">Guardar</button>
                <a class="btn btn-secondary px-4" href="{% url 'cuentas:perfil' %}">Cancelar</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}