{% extends 'Main/base.html' %}
{% block title %}
Lista Gimnasios
{% endblock %}

{% block content_title %}
Lista Gimnasios
<form action="{% url 'pokedex:list_gimnasios' %}" method="get">

    <input type="text" name="busqueda" placeholder="Buscar Gimnasio..." type="submit" class="form-control mb-3">
</form>

{% endblock %}

{% block content %}
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
    {% for gim in gimnasios %}
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="pokemon-card text-center">
            
            {% if gim.imagen %}
            <img src="{{ gim.imagen.url }}" 
                 alt="Imagen de {{ gim.nombre }}" 
                 class="img-fluid" 
                 style="max-height: 100px; object-fit: contain;">
            {% else %}
            <p class="text-muted">Sin imagen</p>
            {% endif %}
            <p>
                <strong>Ciudad:</strong> {{ gim.ciudad }}
            </p>
            <p>
                <strong>Lider:</strong> {{ gim.lider }}
            </p>
            <div class="mt-auto">
                    {% if user.is_superuser %}
                    <a href="{% url 'pokedex:editar_gimnasio' gim.pk %}" class="btn btn-warning w-100">Editar</a>
                    {% endif %}
                </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}