{% extends 'Main/base.html' %}

{% block title %}
{% if user.is_superuser %}
Añadir Pokemon
{% else %}
Sin Permisos
{% endif %}
{% endblock %}

{% block content_title %}
{% if user.is_superuser %}
Formulario para añadir Pokemon
{% else %}
No tenes permisos para Agregar Pokemon
{% endif %}
{% endblock %}

{% block content %}
{% if user.is_superuser %}
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Guardar" />
  <a href="{% url 'pokedex:list_pokemon'%}" class="btn btn-secondary">Cancelar</a>
</form>
{% else %}

<a href="{% url 'pokedex:list_pokemon'%}" class="btn btn-secondary">Cancelar</a>
{% endif %}
{% endblock %}