{% extends 'Main/base.html' %}
{% block content %}
<h2>¡Combate Pokémon!</h2>

<div style="display:flex; justify-content:space-around; align-items:center; margin-top:30px;">
    <div>
        <h3>{{ pokemon_usuario.nombre }}</h3>
        <img src="{{ pokemon_usuario.imagen_espalda.url }}" width="150">
    </div>
    <h2>VS</h2>
    <div>
        <h3>{{ pokemon_enemigo.nombre }}</h3>
        <img src="{{ pokemon_enemigo.imagen_frente.url }}" width="150">
    </div>
</div>

<hr>
<h3>Resultado: {{ resultado }}</h3>

<a href="{% url 'combate:seleccionar_mi_pokemon' %}">Volver a combatir</a>
{% endblock %}