{% extends 'Main/base.html' %}
{% block content %}
<h2>Elige tu Pokémon</h2>

<form method="post">
    {% csrf_token %}
    <div class="grid">
        {% for p in pokemones %}
        <label style="display:inline-block; margin:10px;">
            <input type="radio" name="pokemon_id" value="{{ p.id }}" required>
            <img src="{{ p.imagen_frente.url }}" width="96"><br>
            {{ p.nombre }}
        </label>
        {% endfor %}
    </div>
    <button type="submit">Iniciar combate</button>
</form>
{% endblock %}